  <div class="col-md-12 grid-margin stretch-card ">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Cadastro de item de serviço</h4>
          <form class="forms-sample" method="post" action="{% url 'apps:atendimento:tipo_servico_create' %}">
              <div class="form-group">
              {% csrf_token %}
              {{form}}
              <button type="submit" class="btn btn-primary mr-2 btn-block">Cadastrar</button>
          </div>
          </form>
        </div>
        <script type="text/html" id="item-order">
          <div id="item-__prefix__" style="margin-top: 10px">
          </div>
      </script>
      </div>
    </div>
  