{% load static %}
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="d-sm-flex justify-content-between align-items-start">
        <div>
          <h4 class="card-title card-title-dash">Tipo de serviço</h4>
        </div>
        <div>
          <div class="dropdown">
            <a href="{% url 'apps:atendimento:tipo_servico_create' %}">
              <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i
                  class="mdi mdi-plus"></i>Adicionar tipo des serviço</button>
            </a>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                #id
              </th>
              <th>
                Descrição
              </th>
              <th>
                Preço
              </th>
              <th>
                Ações
              </th>
            </tr>
          </thead>
          <tbody>
            {% for tipo in tipos %}
            <tr>
              <td class="py-1">
                #{{tipo.id}}
              </td>
              <td class="py-1">
                {{tipo.descricao}}
              </td>
              <td>
                {{tipo.preco}}
              </td>
              <td>
                <div class="dropdown">
                  <button type="button" class="btn btn-success" id="dropdownMenuIconButton4" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-chevron-down"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton3">
                    <a class="dropdown-item" href="{% url 'apps:atendimento:tipo_servico_update' tipo.id %}">
                      editar
                    </a>
                    <a class="dropdown-item" href="#">apagar</a>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>