{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
{% include 'partials/head.html' %}
{% block head %}
{%endblock%}

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include 'partials/navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      {% include 'partials/settings-panel.html' %}
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
        {%block sidebar%} {% include 'partials/sidebar.html' %} {%endblock%}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12 ">
              <div class="home-tab ">
                {%block content%}{%endblock%}
                {% include 'partials/_pagination.html' %}
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
          {% include 'partials/footer.html' %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'vendors/progressbar.js/progressbar.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  {% block scripts %}
  <!-- End custom js for this page-->
  {%endblock%}
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
</body>

</html>

