{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'apps:core:home' %}">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item nav-category">Cliente e pet</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#cli" aria-expanded="false" aria-controls="cli">
        <i class="menu-icon mdi mdi mdi-account-group"></i>
        <span class="menu-title">Cliente</span>
        <i class="menu-arrow"></i> 
      </a>
      <div class="collapse" id="cli">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'apps:core:cliente_create' %}">Cadastrar cliente</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'apps:core:cliente_list' %}">Listar clinete</a></li>
        </ul>
      </div>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#pet" aria-expanded="false" aria-controls="pet">
          <i class="menu-icon mdi mdi mdi-dog"></i>
          <span class="menu-title">PET</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="pet">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'apps:core:pet_create' %}"> Cadastrar pet </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'apps:core:pet_list' %}"> Listar pet </a></li>
          </ul>
        </div>
      </li>
    </li>
    <li class="nav-item nav-category">Vendas de produtos</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon mdi mdi mdi-cash"></i>
        <span class="menu-title">Vendas</span>
        <i class="menu-arrow"></i> 
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'apps:venda:compra_create' %}">Cadastrar venda</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'apps:venda:compra_list' %}">Listar venda</a></li>
        </ul>
      </div>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#products" aria-expanded="false" aria-controls="products">
          <i class="menu-icon mdi mdi mdi-cards-outline"></i>
          <span class="menu-title">Produtos</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="products">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'apps:venda:produto_create' %}"> Cadastrar produto </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'apps:venda:produto_list' %}"> Listar produtos </a></li>
          </ul>
        </div>
      </li>
    </li>
    <li class="nav-item nav-category">Serviços e Consultas</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
        <i class="menu-icon mdi mdi-card-text-outline"></i>
        <span class="menu-title">Consulta</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="form-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'apps:atendimento:consulta_create' %}">Cadastrar consulta</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'apps:atendimento:consulta_list' %}">Listar consultas</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
        <i class="menu-icon mdi mdi-layers-outline"></i>
        <span class="menu-title">Serviços</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="icons">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'apps:atendimento:servico_create' %}">Cadastrar serviço</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'apps:atendimento:servico_list' %}">Listar serviço</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#type_servece" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon mdi mdi mdi-wallet-giftcard"></i>
        <span class="menu-title">Tipo de Serviço</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="type_servece">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'apps:atendimento:tipo_servico_create' %}"> Cadastrar tipo de serviço </a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'apps:atendimento:tipo_servico_list' %}"> Listar tipo de serviço </a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item nav-category">Funcionarios</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#aten" aria-expanded="false" aria-controls="aten">
        <span class="menu-title">Atendente</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="aten">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Cadastrar  </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#tec" aria-expanded="false" aria-controls="tec">
        <span class="menu-title">Tecnico</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="tec">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Cadastrar  </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title">Usuarios</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Cadastrar  </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>