{%extends "base.html"%}

{% load static %}

{%block content%}
<div class="col-md-12 grid-margin stretch-card ">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Cadastro de atendente</h4>
        <form class="forms-sample" method="post" action="{% url 'apps:account:atendente_update' object.id %}" enctype="multipart/form-data">
            <div class="form-group">
            {% csrf_token %}
            {{form}} <!-- form de compra -->
          </div>
          <button type="submit" class="btn btn-primary mr-2">Salvar</button>
        </form>
      </div>
    </div>
  </div>
{%endblock%}

{%block sidebar%} {% include 'partials/sidebar.html' %} {%endblock%}