{%extends "base.html"%}

{% load static %}

{%block content%}
<div class="col-md-12 grid-margin stretch-card ">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Atualizar de tipos de serviços</h4>
            <form class="forms-sample" method="post" action="{% url 'apps:atendimento:tipo_servico_update' object.id %}">
                <div class="form-group">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" class="btn btn-primary mr-2">Atualizar</button>
                </div>
            </form>
        </div>
        <script type="text/html" id="item-order">
        <div id="item-__prefix__" style="margin-top: 10px">
        </div>
    </script>
    </div>
</div>


{%endblock%}

{%block sidebar%} {% include 'partials/sidebar.html' %} {%endblock%}